<%= form_for(fci_model) do |f| %>
  <% if fci_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fci_model.errors.count, "error") %> prohibited this fci_model from being saved:</h2>

      <ul>
      <% fci_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
